header {
  background-color: #ffb6ad;
  padding: 10px;
  outline-style: inset;
  outline-width: 3px;
  outline-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bradley Hand', cursive;
  
  
  
  
}
nav > div {
  background-color: #ffb6ad; 
  
}

.logo {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Bradley Hand', cursive;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  background-color: #ffb6ad;
  
}

.nav-links li {
  color: white;
  background-color: #ffb6ad;
  border: solid #ffb6ad;
  
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  
}

.nav-links a:hover {
  color: #fff0ed; /* Lighter pink color on hover */
  outline-style: inset;
  outline-width: 2px;
  outline-color: black;
}
.nav-links a:active {
  color: #fff0ed; /* Lighter pink color on hover */
  outline-style: outset;
  outline-width: 2px;
  outline-color: black;
}

.cool-table {
  width: 25%;
  border-collapse: collapse;
  font-family: 'Bradley Hand', cursive;
  position: absolute;
  outline-style: inset;
  outline-width: 2px;
  outline-color: black;
}

.cool-table th {
  background-color: #fff0ed;
  border: 1px dotted #ffb6ad;
  border-width: thick;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 16px;
    outline-style: outset;
  outline-width: 2px;
  outline-color: #ffb6ad;
  
}

.cool-table td {
  border: 1px dotted #ffb6ad;
  border-width: thick;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  outline-style: outset;
  outline-width: 2px;
  outline-color: #ffb6ad;
}

.cool-table tbody tr:nth-child(even) {
  background-color: #fff0ed;
}

.cool-table tbody tr:hover {
  background-color: #ddd;
}
.socials{
	position: absolute;
	right: 0%;
	top: 8%;
	justify-content: space-between;
	display: flex;
	margin: 10px;
  align-items: center;
  flex-direction: column;

}
.socials h2 {
  margin-bottom: 10px;
}

.socials .social-icon {
  margin-right: 10px;
}
.socials p {
	font-size: 12px;
}
.contact p {
	bottom: 10%;
}

